[Unit]
Description=binary clock
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/binary-clock.py
Restart=on-abort

[Install]
WantedBy=multi-user.target

